In [4]:
!pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/a2/7d/54f09000634dc90eb3662500517feffe243a40cfc9cbd4e1a099b47de6b5/pandas-0.25.3-cp37-cp37m-win32.whl (7.9MB)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\lukevassor\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2.8.1)
Collecting numpy>=1.13.3
  Downloading https://files.pythonhosted.org/packages/b5/6d/f52c0bc2359fe680aef4622bd52964f81f2882bdcf1d57ec27ba27d9bd10/numpy-1.18.1-cp37-cp37m-win32.whl (10.8MB)
Collecting pytz>=2017.2
  Downloading https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl (509kB)
Requirement already satisfied: six>=1.5 in c:\users\lukevassor\appdata\local\programs\python\python37-32\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.13.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.18.1 pandas-0.25.3 pytz-2019.3

In [5]:
import os
import pandas as pd
import numpy as np

In [9]:
historicInterest = {"2013": 0.066, 
                    "2014": 0.063, 
                    "2015": 0.055, 
                    "2016": 0.039, 
                    "2017": 0.046, 
                    "2018": 0.0618, 
                    "2019": 0.063}

current_wd = os.getcwd()
file_name = "trimmed_data.csv"

def readPayments(file_name):
    dataLoc = os.path.join(".", "data", file_name)
    paymentsData = pd.read_csv(dataLoc)
    
    return paymentsData

In [20]:
myPayments = pd.read_csv("trimmed_data.csv", sep=",")
myPayments['Payment Date'] = pd.to_datetime(myPayments['Payment Date'])  
myPayments

   Payment Date  Description  Instalment      Gross
0    2014-09-25  Maintenance           1  1,191.30
1    2014-10-15      Tuition           1  2,250.00
2    2015-05-01  Maintenance           2  1,191.30
3    2015-04-02      Tuition           2  2,250.00
4    2015-04-20  Maintenance           3  1,227.40
5    2015-06-05      Tuition           3  4,500.00
6    2015-09-24  Maintenance           4  1,231.23
7    2015-10-21      Tuition           4  2,250.00
8    2016-04-01  Maintenance           5  1,231.23
9    2016-03-02      Tuition           5  2,250.00
10   2016-04-18  Maintenance           6  1,268.54
11   2016-04-05      Tuition           6  4,500.00
12   2016-09-29  Maintenance           7  1,172.49
13   2016-10-19      Tuition           7  2,250.00
14   2017-09-01  Maintenance           8  1,172.49
15   2017-01-02      Tuition           8  2,250.00
16   2017-03-03      Tuition           9  4,500.00
17   2017-04-24  Maintenance           9  1,208.02