In [2]:
import os
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [3]:
historicInterest = {"2012": {"start": date(2012, 9, 1), "end": date(2013, 8, 31), "rate": 0.066}, 
                    "2013": {"start": date(2013, 9, 1), "end": date(2014, 8, 31), "rate": 0.063}, 
                    "2014": {"start": date(2014, 9, 1), "end": date(2015, 8, 31), "rate": 0.055}, 
                    "2015": {"start": date(2015, 9, 1), "end": date(2016, 8, 31), "rate": 0.039}, 
                    "2016": {"start": date(2016, 9, 1), "end": date(2017, 8, 31), "rate": 0.046}, 
                    "2017": {"start": date(2017, 9, 1), "end": date(2018, 8, 31), "rate": 0.0618}, 
                    "2018": {"start": date(2018, 9, 1), "end": date(2019, 8, 31), "rate": 0.063}
                   }

current_wd = os.getcwd()
file_name = "trimmed_data.csv"

def readPayments(file_name, date_header="Payment Date"):
    dataLoc = os.path.join(current_wd, "data", file_name)
    paymentsData = pd.read_csv(dataLoc)
    paymentsData[date_header] = pd.to_datetime(paymentsData[date_header])
    
    return paymentsData

# def findInterestRate():

In [84]:
myPayments = pd.read_csv("trimmed_data.csv", sep=",")
myPayments["Payment Date"] = pd.to_datetime(myPayments["Payment Date"])

In [ ]:
myPayments

In [47]:
today = datetime.date.today()
margin = datetime.timedelta(days = 3)
print(today+margin)

2020-01-18

In [83]:
def findInterestRate(paymentDate):
    year = paymentDate.year
    sdate = historicInterest[str(year)]["start"]
    edate = historicInterest[str(year)]["end"]
    delta = edate - sdate

    allDates = [sdate + timedelta(days=i) for i in range(delta.days+1)]

    if paymentDate in allDates:
#         print("yes")
        rate = historicInterest[str(year)]["rate"]
#         print(rate)
    else:
        rate = historicInterest[str(year+1)]["rate"]
#         print("next year", rate)
    return rate

In [48]:
for paymentDate in myPayments["Payment Date"]:
    myPayments["interestRate"] = findInterestRate(paymentDate)

yes
0.055
yes
0.055
next year 0.046
next year 0.046
next year 0.046
next year 0.046
yes
0.039
yes
0.039
next year 0.0618
next year 0.0618
next year 0.0618
next year 0.0618
yes
0.046
yes
0.046
yes
0.0618
next year 0.063
next year 0.063
next year 0.063

In [85]:
myPayments
# myPayments

   Payment Date  Description  Instalment      Gross
0    2014-09-25  Maintenance           1  1,191.30
1    2014-10-15      Tuition           1  2,250.00
2    2015-05-01  Maintenance           2  1,191.30
3    2015-04-02      Tuition           2  2,250.00
4    2015-04-20  Maintenance           3  1,227.40
5    2015-06-05      Tuition           3  4,500.00
6    2015-09-24  Maintenance           4  1,231.23
7    2015-10-21      Tuition           4  2,250.00
8    2016-04-01  Maintenance           5  1,231.23
9    2016-03-02      Tuition           5  2,250.00
10   2016-04-18  Maintenance           6  1,268.54
11   2016-04-05      Tuition           6  4,500.00
12   2016-09-29  Maintenance           7  1,172.49
13   2016-10-19      Tuition           7  2,250.00
14   2017-09-01  Maintenance           8  1,172.49
15   2017-01-02      Tuition           8  2,250.00
16   2017-03-03      Tuition           9  4,500.00
17   2017-04-24  Maintenance           9  1,208.02

In [88]:
myPayments["interestRate"] = 0
for i, row in myPayments.iterrows():
#     print(row)
    rate = findInterestRate(myPayments.at[i, "Payment Date"].date())
    print(rate)
    myPayments.loc[i,"interestRate"] = rate
    
#     myPayments["interestRate"] = rate

0.055
0.055
0.046
0.046
0.046
0.046
0.039
0.039
0.0618
0.0618
0.0618
0.0618
0.046
0.046
0.0618
0.063
0.063
0.063

In [89]:
myPayments

   Payment Date  Description  Instalment      Gross  interestRate
0    2014-09-25  Maintenance           1  1,191.30         0.0550
1    2014-10-15      Tuition           1  2,250.00         0.0550
2    2015-05-01  Maintenance           2  1,191.30         0.0460
3    2015-04-02      Tuition           2  2,250.00         0.0460
4    2015-04-20  Maintenance           3  1,227.40         0.0460
5    2015-06-05      Tuition           3  4,500.00         0.0460
6    2015-09-24  Maintenance           4  1,231.23         0.0390
7    2015-10-21      Tuition           4  2,250.00         0.0390
8    2016-04-01  Maintenance           5  1,231.23         0.0618
9    2016-03-02      Tuition           5  2,250.00         0.0618
10   2016-04-18  Maintenance           6  1,268.54         0.0618
11   2016-04-05      Tuition           6  4,500.00         0.0618
12   2016-09-29  Maintenance           7  1,172.49         0.0460
13   2016-10-19      Tuition           7  2,250.00         0.0460
14   2017-09-01  Maintenance           8  1,172.49         0.0618
15   2017-01-02      Tuition           8  2,250.00         0.0630
16   2017-03-03      Tuition           9  4,500.00         0.0630
17   2017-04-24  Maintenance           9  1,208.02         0.0630

In [42]:
from datetime import date, timedelta

sdate = historicInterest["2014"]["start"]   # start date
edate = historicInterest["2014"]["end"]   # end date

delta = edate - sdate       # as timedelta
delta.days
# for i in range(delta.days + 1):
#     day = sdate + timedelta(days=i)
#     print(day)

364